<#include "include/header.html"/>
<script
        src="${base.contextPath}/common/code?orderStatus=HAP_OM_ORDER_STATUS"></script>
<body>
<div class="contrainer">

    <div id="query-form" style="padding-bottom:10px;">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">公司名称:<input id="dynamicLOV" data-bind="value:model.companyId"/></div>
            <div class="col-lg-3">客户名称:<input id="dynamicLOV1" data-bind="value:model.customerId"/></div>
            <div class="col-lg-3">销售订单号: <input id="dynamicLOV3" data-bind="value:model.orderNum"/></div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-2"></div>
            <div class="col-lg-3" style="margin-left: 20px;">物料: <input id="dynamicLOV2" data-bind="value:model.inventoryItemId"/></div>
            <div class="col-lg-3" style="margin-left: -20px;">订单状态:<input id="categories" data-bind="value:model.orderStatus"></div>
            <div class="col-lg-4"></div>
            <script type="text/javascript">
                $("#categories").kendoDropDownList({
                    dataTextField: "meaning",
                    dataValueField: "value",
                    dataSource: orderStatus
                });
            </script>
        </div>
        <div class="row" style="margin-top: 5px">
            <div class="col-lg-1"></div>
            <div class="col-lg-4"><span class="btn btn-primary" style="width:70px;"
                                data-bind="click:queryGrid" type="submit">查询</span>

                <span class="btn btn-danger" style="width:70px;margin-left: 3px" data-bind="click:resetForm"
                      type="submit">重置</span>

            </div>
        </div>

    </div>

    <script>

        viewModel = kendo.observable({
            model: {},
            queryGrid: function (e) {
               /* var formData = viewModel.model.toJSON();
                var stutsData=formData.orderStatus.meaning;
                if( typeof stutsData==undefined||stutsData==''||stutsData==null){
                    formData.orderStatus=null;
                }else{

                    formData.orderStatus=formData.orderStatus.meaning;
                }*/
                var forData=viewModel.model;
                console.dir(forData);
                console.log($("#categories").val());

                if( typeof (forData.orderStatus)=="undefined"||(forData.orderStatus)==null){
                    forData.orderStatus=null;
                }else{
                    forData.orderStatus=$("#categories").val();
                }
                $.ajax({
                    url:"/order/all",
                    data:forData.toJSON(),
                    type:"POST",
                    success:function(data1){
                        dataSource=data1;
                    }
                });

                $('#grid').data('kendoGrid').dataSource.page(1);
            },
            resetForm: function (e) {
                var formData = viewModel.model.toJSON();
                for (var k in formData) {
                    viewModel.model.set(k, null);
                }
            }

        });
    </script>
    <script>kendo.bind($('#query-form'), viewModel);</script>

    </form>
</div>
<div clas="row">
    <div class="col-lg-12">
        <div id="grid">
            <input type="button" onclick="NewLov()" value="新增" style="margin-left: 10px" class="btn btn-primary">
             <span class="btn btn-warning" style="width:70px;" data-bind="click:resetForm"
                   type="submit">导出excle</span>
        </div>
        <div id="dialogEdit"></div>
        <script>
            NewLov = function () {
                var dialog = $("#dialogEdit").kendoWindow({
                    width: 1050,
                    height: 550,
                    title: '订单录入',
                    visible: false,
                    iframe: true,
                    modal: true,
                    content: '${base.contextPath}/orderRditor.html'
                }).data("kendoWindow");
                dialog.maximize();
                dialog.open();
            };


            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/order/all",
                        dataType: "json",
                        type: "POST"
                    },
                    /*parameterMap: function (options) {

                     console.dir(viewModel);
                     return kendo.stringify(options);

                     }*/
                    parameterMap: function (options, type) {
                        console.dir(viewModel);
                        if (type !== "read" && options.models) {
                            var datas = Hap.prepareSubmitParameter(options, type)
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            console.log("####"+viewModel.model.toJSON());
                            return Hap.prepareQueryParameter(viewModel.model
                                    .toJSON(), options);

                        }
                    }

                },
                batch: true,
                serverPaging: true,//分页显示
                pageSize: 5,
                schema: {
                    data: 'rows',
                    total : 'total'
                }
            });
            console.log(orderStatus)

            $("#grid").kendoGrid({
                dataSource: dataSource,
                height: '100%',
                width: '100%',
                batch: true,
                scrollable: 'multiple, rowbox',
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    buttonCount: 5,
                    refresh: true
                },
                scrollable: false,
                columns: [{
                    field: "orderNum",
                    title: "<@spring.message 'ordernum'/>",
                    attributes:{
                        "style":"cursor:hand"
                    },
                    template: function (rowdata) {
                        console.dir("sdfsdf"+rowdata.orderNum);

                        /*return '<a href="javascript:void(0)" onclick="editLov(' + orderNum + ')">'+orderNum+'</a>';*/
                        return '<a href="javascript:void(0)" onclick="editLov('+rowdata.orderNum+')">'+rowdata.orderNum+'</a>';
                    }

                }, {
                    field: "companyName",
                    title: "<@spring.message 'mycompanyName'/>"
                }, {
                    field: "customerName",
                    title: "<@spring.message 'myconst'/>"
                }, {
                    field: "rderDate",
                    title: "<@spring.message 'orderdate'/>"
                }, {
                    field: "orderStatus",
                    title: "<@spring.message 'orderstuts1'/>"
                }, {
                    field: "orderMoney",
                    title: "<@spring.message 'orderaccount'/>"
                }]
            }).data("kendoGrid").refresh();
            Hap.autoResizeGrid("#grid");


            editLov = function (id) {
                console.log("))()))()="+id);
                var dialog = $("#dialogEdit").kendoWindow({
                    width: 1050,
                    height: 550,
                    visible: false,
                    iframe: true,
                    modal: true,
                    content: '${base.contextPath}/orderRditor.html?orderNum='+id
                }).data("kendoWindow");
                dialog.maximize();
                dialog.open();
            };

        </script>

    </div>

</div>


</div>
<script type="text/javascript">


    $("#dynamicLOV").kendoLov({
        code: "mycompanyall",
        contextPath: '${base.contextPath}',
        locale: '${base.locale}'
    });

    /*  $("#dynamicLOV1").kendoLov({
     code: "constomer",
     contextPath: '${base.contextPath}',
     locale: '${base.locale}',
     query:function(e){
     e.param['companyId']=viewModel.model.companyId;
     }
     });*/

    $("#dynamicLOV1").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "constomer")}, {
        query: function (e) {
            e.param['companyId'] = viewModel.model.companyId;
        }
    }))


    $("#dynamicLOV2").kendoLov({
        code: "Inventory",
        contextPath: '${base.contextPath}',
        locale: '${base.locale}'
    });


</script>


</body>
</html>